@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

:root {
    --color-slider: #00ff15;
    --color-secundario: rgb(0, 218, 0);
    --color-btn-hover: rgba(181, 245, 181, 0.13);
    --color-btn-active: rgba(109, 255, 109, 0.459);
    --color-active: white;
    --color-danger: red;
    --color-success: rgba(20, 187, 20, 0.884);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #F5F5F5;
}

header {
    height: 100px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 160px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #494848;
    transition: opacity 300ms;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}

.header__register {
    display: flex;
    gap: 20px;
    height: auto;

}

.btn__header-register,
.btn__register-cover {
    padding: 8px 20px;
    border: none;
    background: var(--color-secundario);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover {
    background: #69F1A1;
    color: white;
}

#icon_menu {
    display: none;
}

/*PORTADA - COVER*/

main {
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.h1 {
    font-weight: 900;
    font-size: 45px !important;
    color: #000000c4;
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 100px !important;
    border-radius: 10px;
    background-color: rgba(249, 177, 69, 0.749);
}

.text__information-cover {
    width: 50%;
}

.text__information-cover h1 {
    font-size: 50px;
}

.text__information-cover p {
    font-size: 18px;
    margin-top: 20px;
}

.buttons__cover {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.btn__readMore-cover {
    padding: 8px 20px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 5px;
    background-color: cornflowerblue;
    transition: background 300ms;
}

.btn__readMore-cover:hover {
    background: #69F1A1;
}

.media__cover {
    width: 50%;
}

.media__cover video {
    width: 100%;
    margin-top: -40px;
}

/*BANNER*/

.container__banner {
    margin-top: 80px;
    border-radius: 20px;
}

.banner {
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
    border-radius: 10px;
}

.banner__icon-heart {
    width: 35%;
    height: 100%;
}

#icon_heart {
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0, 0, 0, 0.5));
}

.banner__text {
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__text a {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover {
    color: #69F1A1;
}

.banner__icon-fire {
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire {
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}

.icon {
    width: 25px;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

footer {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100% !important;
    text-align: center;
    padding: 30px;
    gap: 30px;
    background-color: rgb(255, 255, 255);
}

footer>li {
    list-style: none;
    font-size: 12px;
}

li>a {
    color: rgb(143, 142, 142);
}

a {
    outline: none;
    text-decoration: none;
}

.texto-3 {
    font-size: 22px;
    color: rgb(156, 156, 156);
    overflow-y: auto;
    height: 236px;
    line-height: 30px;
    width: 90%;
}

.texto-3::-webkit-scrollbar {
    display: none;
}

.carrusel-contenedor {
    display: grid;
    place-content: center;
    place-items: center;
    min-width: auto;
    width: 100%;
    margin: 7em auto;
    margin-bottom: 5em;
}

.carrusel-titulo {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
}




.container {
    max-width: 79vw;
    width: 80%;
    margin: auto;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-bottom: 10em;
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: 0;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: 0;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 305px;
    min-width: auto;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    border-radius: inherit;
    margin-bottom: 10em !important;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: pointer;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* Dos columnas de 100px de ancho cada una */
    grid-template-rows: repeat(1, auto);
    /* Dos filas de 100px de alto cada una */
    place-content: center;
    gap: 40px;
    place-items: center;
    width: 100%;
    margin: -50px auto;
}

.area {
    margin: 120px auto;
    justify-content: center;
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, auto);
}

.titulo-2 {
    font-size: 52px;
    color: black;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.campo-de-texto-2 {
    width: 100%;
    padding: 20px;
    color: #868b8d;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    left: -80px;
    top: -80px;
}

.shape:last-child {
    right: -30px;
    bottom: -80px;
}


/*contacto*/

form {
    /*
    height: auto;
    background-color: black;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1;
    margin: auto;
    justify-content: center;
    */
}

.form-2 {
    height: 479px;
    width: 275px;
    color: white;
    background: rgba(255, 255, 255, 0.07);
    display: grid;
}

form,
.form-2 {
    display: grid;
    width: auto;
}

.span-size {
    font-size: 18px;
}

form {
    /*
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    */
}


form h3 {
    /*
    margin-left: 10em;
    font-size: 32px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
    */
}

form h2 {
    /*
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;*/
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.2em;
}

.input-contacto {
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    border: none;
    margin-left: 0.1em;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: white;
}

textarea {
    display: block;
    height: 80px;
    min-height: 80px;
    width: 100%;
    margin-left: 0.1em;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    resize: vertical;
}

::placeholder {
    color: white;
}

.forgot-password {
    text-decoration: none;
    outline: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.check-in {
    text-decoration: none;
    outline: none;
    color: white;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.center-div {
    margin-top: 100px;
    text-align: center;
    margin-left: -1em;
}

.center-div-2 {
    line-height: 40px;
}


.contenido-contacto {
    min-height: 500px;
    width: 400px;
}

.h3-contacto {
    display: flex;
    width: 65%;
    justify-content: center;
    text-align: center;
}

.boton-mensaje {
    margin-left: 0.1em;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
    border-color: transparent;
    height: 50px;
    color: white;
    padding: auto;
    font-size: 18px;
    cursor: pointer;
}

.seccion-2 {
    display: flex;
    width: 100%;
    height: 100%;

}

.titulo-4 {
    align-items: center;
    font-size: 36px;
    text-decoration: none;
    outline: none;
    text-align: center;
    color: #dccd30;
    margin: 20px 0px;
    font-weight: 600;
}

.icon-social {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin: 20px 5px;
}

.icon-social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all .40s ease;
}

.icon-social a:hover {
    color: white;
    transform: translateY(-5px);
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.boton-social {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}




@media (max-width: 1024px) {

    .slider-wrapper .slide-button {
        display: none !important;
    }

    .area {
        margin: 120px auto;
        justify-content: center;
        width: 100%;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(1, auto) !important;
    }

    .container__header,
    main {
        padding: 20px;
    }

    #icon_menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register {
        display: none;
    }

    .menu {
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
        transition: all 300ms;
    }

    .menu nav ul {
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li {
        padding: 10px 40px;
    }

    .mostrar_menu {
        /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1 {
        font-size: 40px;
    }

    .text__information-cover p {
        font-size: 16px;
    }

    .banner__text h2 {
        font-size: 22px;
    }

    #icon_heart {
        left: -60px;
    }

    .banner__icon-fire {
        right: -20px;
    }
}

@media (max-width: 920px) {


    .text__information-cover {
        width: 100%;
    }

    .media__cover {
        display: none;
    }

    .banner {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire {
        display: none;
    }

    #icon_heart {
        left: 0;
    }

    .banner__text {
        width: 100%;
        margin-top: -100px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 20px;
    }

}



/* .............Editor............... */
header {
    height: 70px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}


main.editor {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-Editor {
    width: 60%;
    height: 100%;


}

/* ----- Opciones PC --------- */
.content-opciones-pc {
    padding-top: 10px;
    /* padding-right: 4%; */
    width: 40%;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.extas-funcions {
    margin: 5px 0px;
    ;
    height: 38px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-Extra-funcions {
    /* background-color: #000; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    border: 0px;
    min-height: 16px;
    min-width: 16px;
    background-color: transparent;
    cursor: pointer;
}

.btn-Extra-funcions svg {
    width: 80%;
    height: 80%;
    fill: grey;
    min-height: 16px;
    min-width: 16px;
}

.btn-Extra-funcions:hover,
.btn-Extra-funcions:hover svg {
    color: rgb(53, 53, 53);
    fill: rgb(53, 53, 53);
}

.btn-Extra-funcions:active,
.btn-Extra-funcions:active svg {
    color: black;
    fill: black;
}

.btn-Extra-funcions p {
    font-size: 10px;
    margin-top: 5px;
}

.btn-reducir {
    display: none;
}

/* Opciones edit*/
.options-edit {
    width: 100%;
    height: 380px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Header Editor */

.header-options-edit {
    height: 50px;
    display: flex;
}

.btn-header-options-edit {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px grey;
}

.btn-header-options-edit {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
}

.btn-header-options-edit:first-child {
    border-left: none;
}

.btn-header-options-edit:hover {
    background-color: var(--color-btn-hover);
}

.btn-header-options-edit:active {
    background-color: white;

}

.btn-header-options-edit.active {
    background-color: var(--color-btn-active);

}

/* contenedor opciones */
.content-opcions {
    width: 100%;
    flex-grow: 1;
}

.content-opcions>div {
    display: none;
}

.content-opcions>div.active {
    display: flex;
    width: 100%;
    height: 100%;
}

/* contenedor opciones producto */
.contenedor-opciones-producto {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.texto-tipo-producto {
    font-size: 20px;
}

.texto-nombre-diseño {
    color: rgb(63, 63, 63);
    margin-bottom: 15px;
}

.texto-color {
    font-size: 20px;
    margin-bottom: 10px;
}

.content-colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.btn-color {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border: 1px solid #00000056;
    border-radius: 5px;
    margin: 10px;
    transition: 0.1s;
    background-color: var(--btn-color);

    /* Agrega una transición suave al pasar el mouse sobre el botón */
    transition: box-shadow 0s ease;
}

.btn-color:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.btn-color.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 4px 3px 0 rgba(0, 0, 0, 0.2), inset 0 3px 23px 0 rgba(0, 0, 0, 0.1);

    border: 4px solid var(--color-active);
    background-color: white;
}

/* contenedor opciones personalizacion */

/*con Personalizaciones */
.content-personalizaciones {
    display: none;
}

.content-personalizaciones.active {
    display: flex;
    width: 100%;
    height: 325px;
    /* max-height: 100%; */
    flex-direction: column;
    overflow: hidden scroll;
    align-items: center;
    padding: 10px;
}

.content-personalizaciones .btn-agregar-personalizaciones {
    width: 70%;
    height: 35px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--color-secundario);
    background-color: var(--color-btn-active);
    border-radius: 10px;
    transition: 0.4s;
}

.list-personalizaciones {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-personalizacion {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    padding: 0px 10px;
}

.item-personalizacion input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
}

.item-personalizacion .datos-item {
    display: flex;
    width: 50%;
    flex-grow: 1;
    height: 100%;
    align-items: center;
}

.item-personalizacion .btns {
    display: flex;
    height: 100%;
    align-items: center;
}

.item-personalizacion img {
    max-height: 80%;
    margin: 0px 10px;
}

.item-personalizacion .img {
    width: 20%;
    height: 90%;
    background: url(https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60
) no-repeat center/contain;
}

.item-personalizacion .btn-item-personalizacion {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.item-personalizacion .btn-item-personalizacion svg {
    fill: #000;
}


.item-personalizacion.disable .btn-view .disable,
.item-personalizacion.active .btn-view .active {
    display: block;
}

.item-personalizacion.active .btn-view .disable,
.item-personalizacion.disable .btn-view .active {
    display: none;
}

.item-personalizacion .title {
    height: 20px;
    width: 50%;
    whiteSpace: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    textOverflow: ellipsis;
    /* Muestra puntos suspensivos (...) al final del texto desbordado */
    maxWidth: 100%;
    /* Establece un ancho máximo para el contenedor */
}



/*no  personalizaciones*/

.no-personalizaciones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-personalizaciones .btn-agregar-personalizaciones {
    border: none;
    width: 180px;
    height: 90px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: 5px dashed var(--color-secundario);
    background-color: var(--color-btn-active);
    transition: 0.4s;
}

.no-personalizaciones .btn-agregar-personalizaciones:hover {
    width: 190px;
    height: 100px;
}


/* Agregar personalizaciones*/
.conteiner-agregar-personalizaciones {
    display: none;
}

.conteiner-agregar-personalizaciones.active {
    top: 0px;
    left: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000094;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cerrar-modal:hover {
    cursor: pointer;
    border: 1px solid white;
}

.btn-cerrar-modal {
    z-index: 2;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.content-agregar-personalizaciones {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content-agregar-personalizaciones h3 {
    font-size: 30px;
    padding: 20px;
    padding-bottom: 10px;
}

.opciones-agregar {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 10px;
    overflow: auto scroll;
}

.btns-content-user-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    width: 125px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e9e9e9;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.btns-content-user-img:hover,
.opciones-agregar input:hover,
.opciones-agregar button:hover {
    transform: scale(1.08);
}

.btns-content-user-img>div {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btns-content-user-img>div>img {
    width: 100%;
}

.btns-content-user-img>p {
    height: 25px;
    width: 90%;
    padding: 0px 5%;
    height: 28px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    whiteSpace: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    textOverflow: ellipsis;
    /* Muestra puntos suspensivos (...) al final del texto desbordado */
    maxWidth: 100%;
    /* Establece un ancho máximo para el contenedor */
}


.opciones-agregar input,
.opciones-agregar button {
    border: none;
    width: 125px;
    height: 152px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: 3px dashed var(--color-secundario);
    background-color: var(--color-btn-active);
    transition: 0.4s;
    border-radius: 5px;
    margin: 0px 10px;

}


.opciones-agregar button svg {
    fill: var(--color-secundario);
    width: 50%;
    height: auto;
}

/* Confirmar imagen  */
.container-confirm-img-loader {
    display: none;
}

.container-confirm-img-loader.active {
    top: 0px;
    left: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000094;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img-loader {
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content-img-loader h4 {
    font-size: 25px;
    padding-bottom: 10px;
}

.content-img-loader>div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-img-loader>div .img,
.fondo-transparent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* fondo trnasparent */
.fondo-transparent {
    height: 75%;
    padding: 10px;
    background-color: #808080;
    background-image:
        linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
        linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.content-img-loader p {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    height: 25px;
    whiteSpace: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    textOverflow: ellipsis;
    /* Muestra puntos suspensivos (...) al final del texto desbordado */
    maxWidth: 100%;
    /* Establece un ancho máximo para el contenedor */
}

.content-img-loader .options {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-img-loader .options>div {
    margin: 3%;
    border: #0000009c solid 1px;
    border-radius: 10px;
    height: 100%;
    width: 30%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
    color: white;
}

.content-img-loader .options>div:hover {
    transition: 0.2s;
    font-size: 25px;
}

.content-img-loader .options>div>svg {
    margin: 0px 10px;
    fill: white;
    width: 35px;
    height: 35px;
}

.btn-aceptar-imgagen {
    background-color: var(--color-success);
}

.btn-rechazar-imagen {
    background-color: var(--color-danger);

}


/* Editar posicion*/
.container-edit-position {
    display: none;
}


.container-edit-position.active {
    top: 0px;
    left: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000094;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #494848;
}

.img-model {
    height: 100%;
    width: auto;
}

.img-edit-position {
    /* width: 20%; */
    cursor: pointer;
    position: absolute;
}

.img-edit-position>img {
    transform: scale(var(--scale));
    border: 1px solid cyan;
}

.point-tr {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0px;
}

.btn-cerrar-modal:hover {
    cursor: pointer;
    border: 1px solid white;
}

.btn-cerrar-modal {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.content-edit-position {
    min-width: 400px;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sub-content-edit-position {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.btns {
    margin-top: 15px;
}

.btns>button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: #494848;
    color: white;
    margin: 0px 10px;
    cursor: pointer;
}

.btns>button.btn-aplicar {
    background-color: var(--color-success);
}

.btns>button.btn-cancelar {
    background-color: var(--color-danger);

}


.content-options-edit-position {
    position: absolute;
    right: -300px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    z-index: -1;
}

.selector-tamaño {
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    transform: rotate(-90deg);
}

#input-tamaño {
    width: 85%;
    -webkit-appearance: none;
    height: 5px;
    position: relative;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 5px;
}

#input-tamaño::-webkit-slider-thumb {
    background-color: var(--color-slider);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
}

#numberSize::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--color-slider);
    top: -9px;
}

#numberSize {
    transform: rotate(90deg);
    background-color: var(--color-slider);
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    font-family: "poppins", sans-serif;
}

/* Finis Opciones edit*/

.btn-buy {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 20px;
    border: none;
    background: var(--color-secundario);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background, color, 300ms;
}










/* ----- FullScreen --------- */

body.fullscreen main.editor {
    height: 100vh;
}

body.fullscreen header,
body.fullscreen footer {
    display: none;
}

body.fullscreen .content-opciones-pc {
    padding-top: 20px;
    padding-right: 2%;
}

body.fullscreen .btn-expander {
    display: none;
}

body.fullscreen .btn-reducir {
    display: flex;
}

body.fullscreen .extas-funcions {
    margin-bottom: 15px;
}

/* Funciones de Clases */

.btn-restaurar-cambios {
    border: solid 1px black;
    background-color: #c0c0c0a2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 110px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.text-no-desbor {
    whiteSpace: nowrap;
    /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    textOverflow: ellipsis;
    /* Muestra puntos suspensivos (...) al final del texto desbordado */
    maxWidth: 100%;
    /* Establece un ancho máximo para el contenedor */
}

.transparent {
    background-color: #808080;
    background-image:
        linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
        linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}


/* ------------- editor --------------*/


.title-Disign {
    position: absolute;
    left: 79px;
    top: 37px;
    font-weight: 600;
}

#disign-content {
    padding: 40px 0px;
    display: block;
    width: 100%;
}




